{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
<div class="container mt-4">
{% for message in app.flashes('goodpass') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('successpass') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('dangerpass') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">
        </div>

        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control">
        </div>

        <button type="submit" class="btn text-light" style="margin-top: 20px; background-color:#393D3A;">Se connecter</button>      
    </form>
    <a class=" btn text-light" style="margin-top: 20px; background-color:#393D3A;" href="{{path('forgotten_password')}}">Mot de passe oublié</a>
</div>
{% endblock %}